[submodule "bundle/vim-matlab-fold"]
	path = bundle/vim-matlab-fold
	url = git://github.com/djoshea/vim-matlab-fold.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
